@using ShopBanDoTheThao.Models

@{
    ViewBag.Title = "Thêm sản phẩm phân phối";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ShopEntities shop = new ShopEntities();
}
@using PagedList.Mvc;
@using ShopBanDoTheThao.Models
@model QuanLyNhaPhanPhoi

<link href="~/Content/select2.min.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">

                <li>
                    <i class="fa fa-dashboard">
                        <a>
                            @Html.ActionLink("Trang chủ", "Index", "Admin")
                        </a>

                    </i>
                </li>
                <li class="active">
                    <a>
                        @Html.ActionLink("Quản Lý", "Index", "AdminQuanLyNhaPhanPhoi")
                    </a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Thêm sản phẩm phân phối
                </li>

            </ol>
        </div>
    </div>
    <div class="box box-solid">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-lg-12">

                    <input type="hidden" name="id" id="txtmanpp" value="0">

                    <div class="form-group" id="sppp">
                        <label>Sản phẩm phân phối</label>

                        @Html.DropDownListFor(m => m.SanPham.MaSanPham, (List<SelectListItem>)ViewBag.SP, "CHỌN SẢN PHẨM", new { @class = "form-control select2", id = "sp", @multiple = "multiple" })
                    </div>

                    <input type="submit" name="submit" id="bt_Them" class="btn btn-default" value="Thêm" />
                    <input type="button" name="xoa" id="bt_Xoa" class="btn btn-default" value="Xóa" style="display: none" />

                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-12">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="tb_sppp">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="checkAll" id="checlAll" /></th>
                                    <th>Mã</th>
                                    <th>Tên </th>
                                    <th>Ảnh</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                                @foreach (var item in Model.DanhSachSanPhamPhanPhoi)
                                {

                                    var sp = shop.SanPhams.Single(c => c.MaSanPham == item.MaSanPham);


                                    <tr>
                                        <td>
                                            <input type="checkbox" name="check" id="check" />
                                        </td>
                                        <td>@item.MaSanPham</td>
                                        <td>@item.TenSanPham</td>
                                        <td><img id="img" src="@sp.AnhDaiDien" style="width: 50px; height: 50px;" /></td>
                                        <td>
                                            <button type="button" onclick="Xoa(this)" class="btn btn-sm">Xóa</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model.DanhSachSanPhamPhanPhoi, page => Url.Action("SanPhamPhanPhoi", new { page }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/select2.full.min.js"></script>
<Script>
    $(".select2").select2();
    function Xoa(el) {
        var masp = el.parentNode.parentNode.cells[1].textContent;
        $.ajax({
            url: '/AdminQuanLyNhaPhanPhoi/XoaSanPhamPhanPhoi/?id=' + masp + '',
                        type: 'POST',
                        dataType: 'json',
                        success: function () {
                            alert("Xóa thành công");
                            window.location.reload();
                        },
                        error: function () {
                            alert("Xóa thất bại");
                            window.location.reload();
                        }
                    });
    }

    $("#bt_Them").click(function () {
        var sp = $('#sp').val();
        $.ajax({
            url: '/AdminQuanLyNhaPhanPhoi/ThemSanPhamPhanPhoi/?sppp=' + sp + '',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.dt == true) {
                    alert("Thêm thành công");
                    window.location.reload();
                }


            },
            error: function () {
                alert("Lỗi");
            }
        });


    });
    var count = 0;
    $(window).load(function () {
        $('#checlAll').change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
            if (this.checked) {
                $("#bt_Xoa").show();
                $("#bt_Them").hide();
            }
            else {

                $("#bt_Xoa").hide();
                $("#bt_Them").show();
            }
        });

        $("input[type='checkbox']").change(function (e) {
            if ($(this).is(":checked")) {
                count++;

            } else {
                count--;

            }
            if (count > 0) {
                $("#bt_Xoa").show();
                $("#bt_Them").hide();
            } else {
                $("#bt_Xoa").hide();
                $("#bt_Them").show();
            }
        });

        $("#bt_Xoa").click(function () {
            $("table#tb_sppp > tbody > tr").each(function () {
                var ck = $(this).find("input[type='checkbox']");
                var id = $(this).find("td").eq(1).html();
                if (ck.is(":checked")) {
                    $.ajax({
                        url: '/AdminQuanLyNhaPhanPhoi/XoaSanPhamPhanPhoi/?id=' + id + '',
                        type: 'POST',
                        dataType: 'json',
                        success: function () {
                            return true;
                        },
                        error: function () {
                            return false;
                        }
                    });
                }




            });
            if (true) {
                alert("Xóa thành công");
                window.location.reload();
            } else {
                alert("Xóa thất bại");
                window.location.reload();
            }
        });
    });
</Script>




