@using ShopBanDoTheThao.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ShopEntities shop = new ShopEntities();
}

@using PagedList.Mvc;
@using ShopBanDoTheThao.Models
@model QuanLyHoaDonNhap

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">

                <li>
                    <i class="fa fa-dashboard">
                        <a>
                            @Html.ActionLink("Trang chủ", "Index", "Admin")
                        </a>

                    </i>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Quản lý nhập hàng
                </li>

            </ol>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            @using (Html.BeginForm("ThemHoaDonNhap", "AdminQuanLyNhapHang", FormMethod.Post, new { enctype = "multipart/form-data",id="frmThem" }))
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tạo hóa đơn</h4>
                    </div>
                    <div class="modal-body">
                            <div class="panel-body">
                                <input type="hidden" name="id" id="txtidhd" value="0">
                                <div class="form-group">
                                    <label>Nhà phân phối</label>

                                    @Html.DropDownListFor(m => m.HoaDonNhap.MaNhaPhanPhoi, (List<SelectListItem>)ViewBag.NPP, "CHỌN NHÀ PHÂN PHỐI", new { @class = "form-control npp", id = "npp" })
                                </div>
                                <div class="form-group">
                                    <label>Kiểu thanh toán</label>
                                    @Html.TextBoxFor(m => m.HoaDonNhap.KieuThanhToan, new { id = "txtkieutt", @class = "form-control", placeholder = "Kiểu thanh toán" })

                                </div>

                            </div>
                       
                    </div>

                    <div class="modal-footer">
                        <input type="submit" name="submit" id="bt_Them" class="btn btn-default" value="Thêm" />
                        <input type="submit" name="submit" id="bt_Sua" class="btn btn-default" value="Sửa" />
                        <input type="reset" class="btn btn-default" onclick="Huy()" value="Làm lại">
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="box box-solid">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-lg-4">
                    <a class="btn btn-app" id="Dialog_them" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i>Thêm </a>
                    <a class="btn btn-app" id="bt_xoa_all" style="display: none"><i class="fa fa-remove" ></i>Xóa </a>
                    <a class="btn btn-app" id="bt_huy_all" style="display: none"><i class="fa fa-remove" ></i>Hủy </a>
                </div>
                <div class="col-lg-8">
                    <form action="/AdminQuanLyNhapHang/Index" id="fromTimKiem">
                        <div class="col-lg-4" style="margin-left: 170px; float: right">
                            <label></label>
                            <div>
                                <div class="form-group input-group">
                                    <input type="text" name="searchString" class="form-control" placeholder="Tìm Kiếm.........">
                                    <span class="input-group-btn"><button class="btn btn-default" type="button" onclick="$('#fromTimKiem').submit();"><i class="fa fa-search"></i></button></span>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" id="tb_hoadonnhap">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" name="checkAll" id="checlAll" /></th>
                                    <th>Mã hóa đơn</th>
                                    <th>Nhà phân phối</th>
                                    <th>Ngày tạo </th>
                                    <th>Kiểu thanh toán</th>
                                    <th>Người lập</th>
                                    <th>Tổng giá trị</th>
                                    <th>Chi tiết </th>
                                    @*<th>Sửa</th>*@
                                    <th>Xóa</th>
                                </tr>
                                </thead>
                                <tbody id="table-body">
                                    @foreach (var item in Model.DanhSachHoaDonNhap)
                                    {
                                        double tong = 0;
                                        var nhapp = shop.NhaPhanPhois.SingleOrDefault(c => c.MaNhaPhanPhoi == item.MaNhaPhanPhoi);
                                        var ct = shop.ChiTietHoaDonNhaps.Where(c => c.MaHoaDon == item.MaHoaDon);
                                        foreach (var c in ct)
                                        {
                                            tong += double.Parse(c.TongTien.ToString());
                                        }
                                        var id = int.Parse(Session["MaTKAdmin"].ToString());
                                        var nguoiLap = shop.TaiKhoans.SingleOrDefault(t => t.MaTaiKhoan == id);
                                        <tr>
                                            <td><input type="checkbox" name="check" id="check"/></td>
                                            <td>@item.MaHoaDon</td>
                                            <td><input type="hidden" class="matk" value="@nhapp.MaNhaPhanPhoi"/> @nhapp.TenNhaPhanPhoi</td>
                                            <td>@item.NgayTao</td>
                                            <td>@item.KieuThanhToan</td>
                                            <td>@nguoiLap.TenTaiKhoan</td>
                                            <td>@tong.ToString("#,##0")</td>
                                            <td><a onclick="ChiTiet(this)" style="cursor: pointer">Chi tiết</a></td>
                                            @*<td>
                                                <button type="button" onclick="Sua(this)" class="btn btn-sm" data-toggle="modal" data-target="#myModal">Sửa</button>
                                            </td>*@
                                            <td>
                                                <button type="button" onclick="Xoa(this)" class="btn btn-sm">Xóa</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.PagedListPager(Model.DanhSachHoaDonNhap, page => Url.Action("Index", new { page }))
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<Script>
    $("#Dialog_them").click(function () {
        $("#frmThem")[0].reset();
        $("#bt_Sua").hide();
        $("#bt_Them").show();
    });

    function Huy() {
        $("#bt_Sua").hide();
        $("#bt_Them").show();
    }

    $("#bt_Sua").hide();

    function Sua(el) {
        event.preventDefault();
        $("#bt_Sua").show();
        $("#bt_Them").hide();
        $("#txtidhd").val(el.parentNode.parentNode.cells[1].textContent);
        $("#txtkieutt").val(el.parentNode.parentNode.cells[4].textContent);
        //el.parentNode.parentNode.cells[2].textContent
        $("#npp").find("option:contains('" + el.parentNode.parentNode.cells[2].textContent + "')").each(function () {
            if ($(this).text() == el.parentNode.parentNode.cells[2].textContent) {
                $(this).attr("selected", "selected");
            }
        });

    }

    function Xoa(el) {
        var mid = el.parentNode.parentNode.cells[1].textContent;
        $.ajax({
            url: '/AdminQuanLyNhapHang/XoaHoaDonNhap/' + mid + '',
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            alert("Xóa thành công");
                            window.location.reload();
                        },
                        error: function () {
                            alert("Xóa thất bại");
                            window.location.reload();
                        }
                    });
    }
    function ChiTiet(el) {

        var maHoaDon = el.parentNode.parentNode.cells[1].textContent;


        location.href = ' @Url.Action("ChiTietHoaDonNhap", "AdminQuanLyNhapHang")/' + maHoaDon + '';
    }

    var count = 0;
    $(window).load(function () {
        $('#checlAll').change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
            if (this.checked) {
                $("#bt_xoa_all").show();
                $("#Dialog_them").hide();
                $("#bt_huy_all").show();
            }
            else {

                $("#bt_xoa_all").hide();
                $("#Dialog_them").show();
                $("#bt_huy_all").hide();
            }
        });

        $("input[type='checkbox']").change(function (e) {
            if ($(this).is(":checked")) {
                count++;

            } else {
                count--;

            }
            if (count > 0) {
                $("#bt_xoa_all").show();
                $("#bt_huy_all").show();
                $("#Dialog_them").hide();
            } else {
                $("#bt_xoa_all").hide();
                $("#bt_huy_all").hide();
                $("#Dialog_them").show();
            }
        });
        $("#bt_huy_all").click(function() {
            $("#bt_xoa_all").hide();
            $("#bt_huy_all").hide();
            $("#Dialog_them").show();
            $("input:checkbox").attr('checked', false);
        });
        $("#bt_xoa_all").click(function () {
            $("table#tb_hoadonnhap > tbody > tr").each(function () {
                var ck = $(this).find("input[type='checkbox']");
                var id = $(this).find("td").eq(1).html();
                if (ck.is(":checked")) {
                    $.ajax({
                        url: '/AdminQuanLyNhapHang/XoaHoaDonNhap/' + id + '',
                        type: 'POST',
                        dataType: 'json',
                        success: function () {
                            return true;
                        },
                        error: function () {
                            return false;
                        }
                    });
                }

            });
            if (true) {
                alert("Xóa thành công");
                window.location.reload();
            } else {
                alert("Xóa thất bại");
                window.location.reload();
            }
        });
    });
</Script>
