@using ShopBanDoTheThao.Models
@{
    ViewBag.Title = "Trang chủ";
    var danhSachSpMoi = (List<SanPham>)ViewData["SanPhamMoi"];
    var danhSachSpDacSac = (List<SanPham>)ViewData["SanPhamDacSac"];

    var danhSachChuyenMuc = (List<ChuyenMuc>)ViewData["DanhSachChuyenMuc"];
    ShopEntities shop = new ShopEntities();
    var dsSlide = shop.Slides.ToList();
    var quangCao = shop.QuangCaos.ToList();
    double gia;
}
<Style>
    .add-to-links li a {
        text-decoration: none;
    }

    .btn-cart {
        width: 100%;
    }
</Style>
<link href="~/Content/style.css" rel="stylesheet" />
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="flexslider ma-nivoslider">
                    <div class="ma-loading"></div>
                    <div id="ma-inivoslider-banner7" class="slides">
                        <img src="@dsSlide[0].LinkAnh" class="dn" alt="" title="#banner7-caption1" />
                        <img src="@dsSlide[1].LinkAnh" class="dn" alt="" title="#banner7-caption2" />
                    </div>
                    <div id="banner7-caption1" class="banner7-caption nivo-html-caption nivo-caption">
                        <div class="timethai"></div>
                        <div class="banner7-content slider-1">
                            <div class="title-container">
                                <h1 class="title1">@dsSlide[0].TieuDe1</h1>
                                <h2 class="title2">@dsSlide[0].TieuDe2</h2>
                            </div>
                            <div class="banner7-des">
                                <div class="des">
                                    <h1>@dsSlide[0].MoTa1</h1>
                                    <h2>@dsSlide[0].MoTa2</h2>
                                    <div class="check-box">
                                        <ul class="list-unstyled">
                                            <li>@dsSlide[0].MoTa3/li>
                                            <li>@dsSlide[0].MoTa4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="banner7-caption2" class="banner7-caption nivo-html-caption nivo-caption">
                        <div class="timethai"></div>
                        <div class="banner7-content slider-2">
                            <div class="title-container">
                                <h1 class="title1">@dsSlide[1].TieuDe1</h1>
                                <h2 class="title2">@dsSlide[1].TieuDe2</h2>
                            </div>
                            <div class="banner7-des">
                                <div class="des">
                                    <h1>@dsSlide[0].MoTa1</h1>
                                    <h2>@dsSlide[0].MoTa2</h2>
                                    <div class="check-box">
                                        <ul class="list-unstyled">
                                            <li>@dsSlide[1].MoTa3</li>
                                            <li>@dsSlide[1].MoTa4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- /.flexslider -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-left">
             
                @Html.Partial("XemNhieuNhat")
                @Html.Partial("TinMoiNhat")
               
            </div><!-- /.col-left -->
            <div class="col-sm-9 col-right">
                <div class="featuredproductslider-container">
                    <div class="title-group1"><h2>Sản phẩm đặc sắc</h2></div>
                    <div id="featured-products" class="owl-container">
                        <div class="owl">
                            @foreach (SanPham item in danhSachSpDacSac)
                            {
                                <div class='productslider-item item'>
                                    <div class="item-inner">
                                        <div class="images-container">
                                            <div class="product_icon">
                                                <div class='new-icon'><span>Mới</span></div>
                                                @if (item.GiaGiam > 0)
                                                {
                                                    <div class="sale-icon"><span>@Math.Round(double.Parse((100-((item.GiaGiam*100)/item.Gia)).ToString())) %</span></div>
                                                }
                                            </div>
                                            <a href="/QuanLySanPham/ChiTietSanPham/@item.MaSanPham" title="@item.TenSanPham" class="product-image" onclick="TangLuot(@item.MaSanPham)">
                                                <img src="@item.AnhDaiDien" alt="@item.TenSanPham" style="height:200px;" />
                                            </a>

                                        </div>
                                        <div class="des-container">
                                            <h2 class="product-name">
                                                <a href="/QuanLySanPham/ChiTietSanPham/@item.MaSanPham" title="@item.TenSanPham" onclick="TangLuot(@item.MaSanPham)">
                                                    @if (item.TenSanPham.Length > 20)
                                                    {
                                                        @item.TenSanPham.Substring(0, 20);
                                                    }
                                                    else
                                                    {
                                                        @item.TenSanPham;
                                                    }
                                                </a>
                                            </h2>
                                            <div class="price-box">
                                                @if (item.GiaGiam > 0)
                                                {
                                                    
                                                    <p class="special-price">
                                                        <span class="price-label">Giá : </span>
                                                        <span class="price">@double.Parse(item.GiaGiam.ToString()).ToString("#,##0")&nbsp;VNĐ</span>
                                                    </p>
                                                    <p class="old-price">
                                                        <span class="price-label">Giá NY: </span>
                                                        <span class="price">@double.Parse(item.Gia.ToString()).ToString("#,##0")&nbsp;VNĐ</span>
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p class="special-price">
                                                        <span class="price-label">Giá NY: </span>
                                                        <span class="price">@double.Parse(item.Gia.ToString()).ToString("#,##0")&nbsp;VNĐ</span>
                                                    </p>
                                                    <p class="old-price">
                                                        <span class="price-label">&nbsp;</span>
                                                        <span class="price">&nbsp;</span>
                                                    </p>
                                                }
                                            </div>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width: 67%"></div>
                                                </div>
                                                <span class="amount"><a href="#">@item.LuotXem Lượt xem</a></span>

                                                    <a href="javascript:;" class="btn btn-danger btn-cart" onclick="ThemGioHang(@item.MaSanPham)">Thêm vào giỏ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div><!-- /.featuredproductslider-container -->
                <div class="banner">
                    <a href="@quangCao[0].LinkQuangCao"><img alt="" src="@quangCao[0].AnhDaiDien" style="width: 100%;height: 200px"></a>
                </div>
                <div class="newproductslider-container">
                    <div class="title-group1"><h2>Hàng mới về</h2></div>
                    <div id="new-products" class="owl-container">
                        <div class="owl">
                            @foreach (SanPham sp_moi in danhSachSpMoi)
                            {
                                <div class='productslider-item item'>
                                    <div class="item-inner">
                                        <div class="images-container">
                                            <div class="product_icon">
                                                <div class='new-icon'><span>Mới</span></div>
                                                @if (sp_moi.GiaGiam > 0)
                                                {
                                                    <div class="sale-icon"><span>@Math.Round(double.Parse((100 - ((sp_moi.GiaGiam * 100) / sp_moi.Gia)).ToString())) %</span></div>
                                                }
                                            </div>
                                            <a href="/QuanLySanPham/ChiTietSanPham/@sp_moi.MaSanPham" title="@sp_moi.TenSanPham" onclick="TangLuot(@sp_moi.MaSanPham)" class="product-image">
                                                <img src="@sp_moi.AnhDaiDien" alt="@sp_moi.TenSanPham" style="height: 200px" />
                                            </a>

                                        </div>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name">
                                            <a href="/QuanLySanPham/ChiTietSanPham/@sp_moi.MaSanPham" onclick="TangLuot(@sp_moi.MaSanPham)" title="@sp_moi.TenSanPham">
                                                @if (sp_moi.TenSanPham.Length > 20)
                                                {
                                                    @sp_moi.TenSanPham.Substring(0, 20);
                                                }
                                                else
                                                {
                                                    @sp_moi.TenSanPham;
                                                }
                                            </a>
                                        </h2>
                                        <div class="price-box">
                                            @if (sp_moi.GiaGiam > 0)
                                            {
                                                <p class="special-price">
                                                    <span class="price-label">Giá : </span>
                                                    <span class="price">@double.Parse(sp_moi.GiaGiam.ToString()).ToString("#,##0")&nbsp;VNĐ</span>
                                                </p>
                                                <p class="old-price">
                                                    <span class="price-label">Giá NY: </span>
                                                    <span class="price">@double.Parse(sp_moi.Gia.ToString()).ToString("#,##0")&nbsp;VNĐ</span>
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="special-price">
                                                    <span class="price-label">Giá NT: </span>
                                                    <span class="price">@double.Parse(sp_moi.Gia.ToString()).ToString("#,##0")&nbsp;VNĐ</span>
                                                </p>
                                                <p class="old-price">
                                                    <span class="price-label">&nbsp;</span>
                                                    <span class="price">&nbsp;</span>
                                                </p>
                                            }
                                        </div>
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div class="rating" style="width: 67%"></div>
                                            </div>
                                            <span class="amount"><a href="#">@sp_moi.LuotXem Lượt xem</a></span>
                                            <a href="javascript:;" class="btn btn-danger btn-cart" onclick="ThemGioHang(@sp_moi.MaSanPham)">Thêm vào giỏ</a>
                                        </div>
                                    </div>
                                </div>

                            }


                        </div>
                    </div>
                </div><!-- /.newproductslider-container -->
                <div class="row">
                    <div class="col-smc-7">
                        <div class="banner">
                            <a href="@quangCao[1].LinkQuangCao"><img alt="" src="@quangCao[1].AnhDaiDien" style="height: 200px; width: 100%;"></a>
                        </div>
                    </div>
                    <div class="col-smc-5">
                        <div class="banner">
                            <a href="@quangCao[2].LinkQuangCao"><img alt="" src="@quangCao[2].AnhDaiDien" style="height: 200px; width: 100%;"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (danhSachChuyenMuc != null)
                    {
                        foreach (var item in danhSachChuyenMuc.Skip(0).Take(3))
                        {
                            var dsSanPham=new List<SanPham>();
                            var dsChuyenMucCon = shop.ChuyenMucs.Where(c => c.MaChuyenMucCha == item.MaChuyenMuc).ToList();
                            if (dsChuyenMucCon.Count>0)
                            {
                                foreach (var cm in dsChuyenMucCon)
                                {
                                    dsSanPham.AddRange(shop.SanPhams.Where(s=>s.MaChuyenMuc==cm.MaChuyenMuc).OrderByDescending(s=>s.MaSanPham).ToList());
                                }
                            }
                            else
                            {
                                dsSanPham.AddRange(shop.SanPhams.Where(s => s.MaChuyenMuc == item.MaChuyenMuc).OrderByDescending(s => s.MaSanPham).ToList());
                            }
                            
                            <div class="col-sm-4">
                                <div class="title-group">
                                    <div class="row">
                                        <h2>@item.TenChuyenMuc</h2>
                                    </div>
                                </div>

                                <div class="product-list">
                                    @foreach (var sp in dsSanPham.OrderByDescending(s=>s.MaSanPham).Skip(0).Take(5))
                                    {

                                        <div class="products-grid">
                                            <div class="images-container">
                                                <a class="product-image" title="@sp.TenSanPham " onclick="TangLuot(@sp.MaSanPham)" href="/QuanLySanPham/ChiTietSanPham/@sp.MaSanPham"><img alt="@sp.TenSanPham " src="@sp.AnhDaiDien" style="width: 85px; height: 103px;"></a>
                                            </div>
                                            <div class="des-container">
                                                <h2 class="product-name">
                                                    <a title="@sp.TenSanPham " onclick="TangLuot(@sp.MaSanPham)" href="/QuanLySanPham/ChiTietSanPham/@sp.MaSanPham">@if (sp.TenSanPham.Length > 20)
                                                    {
                                                        @sp.TenSanPham.Substring(0, 20);
                                                    }
                                                    else
                                                    {
                                                        @sp.TenSanPham;
                                                    } </a>
                                                </h2>

                                                <div class="price-box">
                                                    @if (sp.GiaGiam > 0)
                                                    {
                                                        
                                                        <p class="special-price">
                                                            <span class="price-label">Giá : </span>
                                                            <span class="price">@double.Parse(sp.GiaGiam.ToString()).ToString("#,##0")&nbsp;VNĐ</span>
                                                        </p>
                                                        <p class="old-price">
                                                            <span class="price-label">Giá NY: </span>
                                                            <span class="price">@double.Parse(sp.Gia.ToString()).ToString("#,##0")&nbsp;VNĐ</span>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p class="special-price">
                                                            <span class="price-label">Giá NY: </span>
                                                            <span class="price">@double.Parse(sp.Gia.ToString()).ToString("#,##0")&nbsp;VNĐ</span>
                                                        </p>
                                                       
                                                    }
                                                </div>
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width: 67%" class="rating"></div>
                                                    </div>
                                                    <span class="amount"><a href="#">@sp.LuotXem Lượt xem</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div> 
                            </div>
                        }
                    }
                </div>
            </div><!-- /.col-right -->
        </div>
    </div>
</div><!-- /.main -->
@Html.Partial("ChuyenMucKhac")
@Html.Partial("HangSXPhoBien")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.nivo.slider.pack.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script type="text/javascript">    
    function ThemGioHang(masp) {  
        $.ajax({
            url: '/GioHang/ThemVaoGioHang/?id=' + masp + '&soLuong=1',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                var json = JSON.parse(data);
                alert(json);
               window.location.reload();
            },
            error: function (err) {
                alert("Đã xảy ra lỗi");
            }
        });
        };
  
    $(window).load(function () {
        $(document).off('mouseenter').on('mouseenter', '.pos-slideshow', function (e) {
            $('.ma-banner7-container .timethai').addClass('pos_hover');
        });
        $(document).off('mouseleave').on('mouseleave', '.pos-slideshow', function (e) {
            $('.ma-banner7-container .timethai').removeClass('pos_hover');
        });
    });
    $(window).load(function () {
        $(".mega-menu-category").css('display', 'block');
        $('#ma-inivoslider-banner7').nivoSlider({
            effect: 'random',
            slices: 15,
            boxCols: 8,
            boxRows: 4,
            animSpeed: 1000,
            pauseTime: 6000,
            startSlide: 0,
            controlNav: false,
            controlNavThumbs: false,
            pauseOnHover: true,
            manualAdvance: false,
            prevText: 'Prev',
            nextText: 'Next',
            afterLoad: function () {
            },
            beforeChange: function () {
            },
            afterChange: function () {
            }
        });
    });
    $(document).ready(function () {
        /* timely-owl */
        $("#timely-owl .owl").owlCarousel({
            autoPlay: true,
            items: 1,
            itemsDesktop: [1199, 1],
            itemsDesktopSmall: [991, 1],
            itemsTablet: [767, 2],
            itemsMobile: [480, 1],
            slideSpeed: 1000,
            paginationSpeed: 1000,
            rewindSpeed: 1000,
            navigation: true,
            stopOnHover: true,
            pagination: false,
            scrollPerPage: true,
        });
        /* special-offer slider */
        $("#special-offer .owl").owlCarousel({
            autoPlay: true,
            items: 1,
            itemsDesktop: [1199, 1],
            itemsDesktopSmall: [991, 1],
            itemsTablet: [767, 2],
            itemsMobile: [480, 1],
            slideSpeed: 3000,
            paginationSpeed: 3000,
            rewindSpeed: 3000,
            navigation: true,
            stopOnHover: true,
            pagination: false,
            scrollPerPage: true,
        });
        /* latest-news slider */
        $("#latest-news .owl").owlCarousel({
            autoPlay: true,
            items: 1,
            itemsDesktop: [1199, 1],
            itemsDesktopSmall: [991, 1],
            itemsTablet: [767, 2],
            itemsMobile: [480, 1],
            slideSpeed: 1000,
            paginationSpeed: 1000,
            rewindSpeed: 1000,
            navigation: true,
            stopOnHover: true,
            pagination: false,
            scrollPerPage: true,
        });
        /* clients-say slider */
        $("#clients-say .owl").owlCarousel({
            autoPlay: true,
            items: 1,
            itemsDesktop: [1199, 1],
            itemsDesktopSmall: [991, 1],
            itemsTablet: [767, 2],
            itemsMobile: [480, 1],
            slideSpeed: 3000,
            paginationSpeed: 3000,
            rewindSpeed: 3000,
            navigation: true,
            stopOnHover: true,
            pagination: false,
            scrollPerPage: true,
        });
        /* featured-products slider */
        $("#featured-products .owl").owlCarousel({
            autoPlay: true,
            items: 4,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [991, 2],
            itemsTablet: [767, 2],
            itemsMobile: [480, 1],
            slideSpeed: 3000,
            paginationSpeed: 3000,
            rewindSpeed: 3000,
            navigation: true,
            stopOnHover: true,
            pagination: false,
            scrollPerPage: true,
        });
        /* new-products slider */
        $("#new-products .owl").owlCarousel({
            autoPlay: true,
            items: 4,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [991, 2],
            itemsTablet: [767, 2],
            itemsMobile: [480, 1],
            slideSpeed: 3000,
            paginationSpeed: 3000,
            rewindSpeed: 3000,
            navigation: true,
            stopOnHover: true,
            pagination: false,
            scrollPerPage: true,
        });
    });
</script>

<!-- Hot Deals Timer 1-->
<script type="text/javascript">
    var dthen1 = new Date("12/25/33 11:59:00 PM");
    start = "08/04/15 03:02:11 AM";
    start_date = Date.parse(start);
    var dnow1 = new Date(start_date);
    if (CountStepper > 0)
        ddiff = new Date((dnow1) - (dthen1));
    else
        ddiff = new Date((dthen1) - (dnow1));
    gsecs1 = Math.floor(ddiff.valueOf() / 1000);

    var iid1 = "countbox_1";
    CountBack_slider(gsecs1, "countbox_1", 1);
</script>
<!-- Hot Deals Timer 2-->
<script type="text/javascript">
    var dthen2 = new Date("05/21/26 11:59:00 PM");
    start = "08/04/15 03:02:11 AM";
    start_date = Date.parse(start);
    var dnow2 = new Date(start_date);
    if (CountStepper > 0)
        ddiff = new Date((dnow2) - (dthen2));
    else
        ddiff = new Date((dthen2) - (dnow2));
    gsecs2 = Math.floor(ddiff.valueOf() / 1000);

    var iid2 = "countbox_2";
    CountBack_slider(gsecs2, "countbox_2", 2);
</script>
<!-- Hot Deals Timer 3-->
<script type="text/javascript">
    var dthen3 = new Date("05/21/33 11:59:00 PM");
    start = "08/04/15 03:02:11 AM";
    start_date = Date.parse(start);
    var dnow3 = new Date(start_date);
    if (CountStepper > 0)
        ddiff = new Date((dnow3) - (dthen3));
    else
        ddiff = new Date((dthen3) - (dnow3));
    gsecs3 = Math.floor(ddiff.valueOf() / 1000);

    var iid3 = "countbox_3";
    CountBack_slider(gsecs3, "countbox_3", 3);

    function TangLuot(id) {

        $.ajax({
            url: '/QuanLySanPham/TangLuotXem/'+id+'',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
              
            },
            error: function (err) {
       
            }
        });
    };
    
</script>