

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ShopEntities shop=new ShopEntities();
    
}
<!-- Include Date Range Picker -->
@using System.Globalization
@using ShopBanDoTheThao.Models
@model ShopBanDoTheThao.Models.ThongKeViewModel
@*<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />*@
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="col-md-12">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                @*<li><a href="#tab_1-1" data-toggle="tab">Nhập hàng</a></li>
                <li><a href="#tab_2-2" data-toggle="tab">Bán hàng</a></li>*@
                <li class="active"><a href="#tab_3-2" data-toggle="tab">Tổng quan</a></li>
                <li class="pull-left header"><i class="fa fa-th"></i>Thống kê</li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1-1">

                </div><!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2-2">
                    

                </div><!-- /.tab-pane -->
                <div class="tab-pane active" id="tab_3-2">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <div class="form-group">
                                        <label>Chọn ngày thống kê:</label>
                                        <form action="/Admin/Index" id="frmThongKe">
                                            <div class="form-group input-group" style="margin-bottom: 0">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text"  class="form-control pull-right" id="reservation" name="chonngay"/>
                                                <span class="input-group-btn"><button class="btn btn-default"  style=" height: 34px;" type="submit" ><i class="fa fa-search"></i></button></span>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <p>@double.Parse(Model.TongGiaTriHoaDonChuaDuyet.ToString()).ToString("##,###") VNĐ</p>
                                    <p>Đơn hàng chưa duyệt</p>
                                    <p>Số lượng :@Model.DanhSachHoaDonChuaDuyet.Count()</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div><!-- ./col -->
                       
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <p>@double.Parse(Model.TongThuNhap.ToString(CultureInfo.InvariantCulture)).ToString("##,###") VNĐ</p>

                                    <p>&nbsp;</p>
                                    <p>Doanh thu</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="#" class="small-box-footer">Xem thêm<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <p>@double.Parse(Model.TongNhapHang.ToString()).ToString("##,###") VNĐ</p>

                                    <p>&nbsp;</p>
                                    <p>Tiền nhập hàng</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="/AdminQuanLyTinTuc/Index" class="small-box-footer">Xem thêm <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">

                                    <p>@double.Parse(Model.TongGiaTriTonKho.ToString()).ToString("##,###") VNĐ</p>
                                    
                                    <p>Sản phẩm tồn kho</p>
                                    <p>Số lượng :@Model.DanhSachSanPhamTonKho.Count()</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="#" class="small-box-footer">Xem thêm<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Sản phẩm xem nhiều</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                      
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body" style="display: block;">
                                    <ul class="products-list product-list-in-box">
                                       @foreach (var item in Model.DanhSachSanPhamXemNhieu)
                                       {
                                        <li class="item">
                                            <div class="product-img">
                                                <img src="@item.AnhDaiDien" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript::;" class="product-title">@item.TenSanPham <span class="label label-warning pull-right">@item.LuotXem</span></a>
                                            </div>
                                        </li><!-- /.item -->
        
                                       }
                                    </ul>
                                </div><!-- /.box-body -->
                                <div class="box-footer text-center" style="display: block;">
                                    <a href="javascript::;" class="uppercase">Xem thêm</a>
                                </div><!-- /.box-footer -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Sản phẩm bán chạy</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body" style="display: block;">
                                    <ul class="products-list product-list-in-box">
                                        @foreach (var item in Model.DanhSachSanPhamBanNhieu)
                                        {
                                            var sp = shop.SanPhams.SingleOrDefault(s => s.MaSanPham == item.MaSanPham);
                                            <li class="item">
                                                <div class="product-img">
                                                    <img src="@sp.AnhDaiDien" alt="Product Image">
                                                </div>
                                                <div class="product-info">
                                                    <a href="javascript::;" class="product-title">@sp.TenSanPham <span class="label label-warning pull-right">@item.SoLuong</span></a>
                                                </div>
                                            </li><!-- /.item -->

                                        }
                                       
                                       
                                    </ul>
                                </div><!-- /.box-body -->
                                <div class="box-footer text-center" style="display: block;">
                                    <a href="javascript::;" class="uppercase">Xem thêm</a>
                                </div><!-- /.box-footer -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>

@*<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>*@

<script>
  
    $('input[name="chonngay"]').daterangepicker();

    $('input[name="chonngay"]').daterangepicker({
        "startDate": "04/25/2016",
        "endDate": "05/01/2016"
    });
    $("#banhang").click(function () {
        $("#tab_2-3").removeClass('active');
        $("#tab_2-2").addClass('active');
    });
    $("#nhaphan").click(function () {
        $("#tab_2-1").addClass('active');
    });
</script>