@using ShopBanDoTheThao.Models

@{
    ShopEntities shop=new ShopEntities();
    var sl = shop.HoaDons.Where(h => h.TrangThai == false).ToList().Count();
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/Content/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/_all-skins.min.css" rel="stylesheet"/>

  
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">

            <a href="/Admin/Index" class="logo ">

                <span class="logo-mini"><b>No</b>va</span>

                <span class="logo-lg"><b>No</b>Va</span>
            </a>
            <nav class="navbar navbar-primary navbar-static-top" role="navigation">

                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Session["AnhDaiDien"]" class="user-image" alt="User Image" />
                                <span class="hidden-xs">@Session["TenTaiKhoanAdmin"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Images/logo.jpg" class="img-circle" alt="User Image" />
                                    <p>
                                       @Session["HoTen"] -  @Session["TenTaiKhoanAdmin"]
                                        <small>@Session["Email"]</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                               
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/Admin/ThongTinTaiKhoan" class="btn btn-default btn-flat">Tài khoản</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/Admin/DangXuat" class="btn btn-default btn-flat">Đăng xuất</a>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>


        <aside class="main-sidebar">

            <section class="sidebar">

                @*<div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Images/logo.jpg" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>@Session["TenTaiKhoanAdmin"]</p>

                        <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                    </div>
                </div>

                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
                            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>*@
                <ul class="sidebar-menu">
                    <li class="header">CHUYÊN MỤC</li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-file-text"></i><span>Quản lý đơn hàng</span>
                            @if (sl > 0)
                            {
                                <span class="label label-primary ">@sl</span>
                            }

                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">
                                <a href="/AdminQuanLyDonHang/DonHangChuaDuyet">
                                    <i class="fa fa-circle-o"></i>Chờ duyệt @if (sl > 0)
                                    {
                                        <span class="label label-primary ">@sl</span>
                                    }
                                </a>
                            </li>
                            <li><a href="/AdminQuanLyDonHang/DonHangDaDuyet"><i class="fa fa-circle-o"></i>Đã duyệt</a></li>
                        </ul>

                    <li class="treeview">
                        <a href="/AdminQuanLySanPham/Index">
                            <i class="fa fa-th"></i>
                            <span>Quản lý sản phẩm</span>

                        </a>

                    </li>
                    <li>
                        <a href="/AdminQuanLyNhaPhanPhoi/Index">
                            <i class="fa fa-truck"></i><span>Quản lý nhà phân phối</span>

                        </a>
                    </li>
                    <li>
                        <a href="/AdminQuanLyNhapHang/Index">
                            <i class="fa fa-briefcase"></i><span>Quản lý nhập hàng</span>

                        </a>
                    </li>
                    <li>
                        <a href="/AdminQuanLyHang/Index">
                            <i class="fa fa-university"></i><span>Quản lý hãng sản xuất </span>

                        </a>
                    </li>
                    <li>
                        <a href="/AdminQuanLyTinTuc/Index">
                            <i class="fa fa-comments-o"></i><span>Quản lý tin tức</span>

                        </a>
                    </li>
                    <li>
                        <a href="/AdminQuanLyChuyenMuc/Index">
                            <i class="fa fa-navicon"></i><span>Quản lý chuyên mục</span>

                        </a>
                    </li>
                    <li class="treeview">
                        <a href="/AdminQuanlyTaiKhoan/Index">
                            <i class="fa fa-users"></i>
                            <span>Quản lý tài khoản</span>

                        </a>

                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i><span>Cài đặt</span>
                          
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/CaiDat/Slide"><i class="fa fa-circle-o"></i>Slide show</a></li>
                            <li><a href="/CaiDat/QuangCao"><i class="fa fa-circle-o"></i>Quảng cáo</a></li>
                            <li><a href="/CaiDat/HeThong"><i class="fa fa-circle-o"></i>Hệ thống</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="/Home/Index">
                            <i class="fa fa-home"></i>
                            <span>Trang chủ</span>

                        </a>

                    </li>

                </ul>
            </section>

        </aside>
        <div class="content-wrapper">
            <section class="content">@RenderBody()</section>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/fastclick.js"></script>
<script src="~/Scripts/demo.js"></script>
<script src="~/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>