
@using System.Drawing
@using ShopBanDoTheThao.Models
@{
    ShopEntities shop = new ShopEntities();
    var chuyenMucChinh = shop.ChuyenMucs.Where(c => c.MaChuyenMucCha == null && c.DacBiet==false).ToList();
    var chuyenMucDacBiet= shop.ChuyenMucs.Where(c => c.MaChuyenMucCha == null && c.DacBiet == true).ToList();
    ShoppingCartModels model = new ShoppingCartModels();
    model.Cart = (ShoppingCart)Session["Cart"];
    var caiDat = shop.CaiDats.SingleOrDefault(s => s.Id == 1);

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="#">

    <title>Shop bán đồ thể thao</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/nivo-slider.css" rel="stylesheet"/>
    <link href="~/Content/owl.carousel.css" rel="stylesheet"/>
    <link href="~/Content/responsive.css" rel="stylesheet"/>
    <link href="~/Content/style.css" rel="stylesheet"/>
    <link href="~/Content/animate.css" rel="stylesheet"/>
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css") 
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
 
    @{
        var tendangnhap = Session["TenTaiKhoan"];
    }
<div class="header">
<div class="topbar">
    <div class="container">
        <div class="topbar-left">
            <ul class="topbar-nav clearfix">
                <li><span class="phone">@caiDat.SDTLienHe</span></li>
                <li><span class="email">@caiDat.EmailLienHe</span></li>
            </ul>
        </div>
        <div class="topbar-right">
            <ul class="topbar-nav clearfix">
                <li>
    @if (Session["TenTaiKhoan"] != null)
                {
                <li class="dropdown">
                    <a href="#" class="account dropdown-toggle" data-toggle="dropdown">@tendangnhap</a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a title="My Account" href="#">Thông tin TK</a></li>
                        <li><a title="My Wishlist" href="#">Sản phẩm yêu thích</a></li>
                        <li><a title="My Cart" href="#">Giỏ hàng</a></li>
                        <li><a title="Checkout" href="#">Thanh toán</a></li>
                        <li><a title="Testimonial" href="/TaiKhoan/DangXuat">Đăng xuất</a></li>
                    </ul>
                </li>
                }
                else
                {
                        <a href="/TaiKhoan/DangNhap" class="login"> Đăng nhập</a>;
                    }</li>
               
                <li class="dropdown">
                    <a href="#" class="currency dropdown-toggle" data-toggle="dropdown">VNĐ</a>
                    <ul class="dropdown-menu dropdown-menu-right"> 
                        <li><a href="#">USD</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="language dropdown-toggle" data-toggle="dropdown"><img src="~/Images/flag-us.png" alt=""> English</a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><img src="~/Images/flag-us.png" alt=""> &nbsp;English</a></li>
                        <li><a href="#"><img src="~/Images/flag-spain.png" alt=""> &nbsp;Spanish</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container -->
</div><!-- /.topbar -->
<div class="header-bottom">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/Home/Index" class="logo"><img src="@caiDat.Logo" alt=""></a>
        </div>
        <div class="col-md-9">
            <div class="support-client">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box-container time">
                            <div class="box-inner">
                                <h2>giờ làm việc</h2>
                                <p>@caiDat.GioLamViec</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-container free-shipping">
                            <div class="box-inner">
                                <h2>giao hàng</h2>
                                <p>@caiDat.GiaoHang</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-container money-back">
                            <div class="box-inner">
                                <h2>hoàn tiền</h2>
                                <p>@caiDat.HoanTien</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.support-client -->
            <form class="form-search" action="/Home/TimKiem">
                <input type="hidden" id="machuyenmuc" name="machuyenmuc" value="0" />
                <input type="text" class="input-text" name="q" id="search" placeholder="Tìm kiếm sản phẩm...">
                <div class="dropdown">
                    <button type="button" id="btn_choncm" class="btn" style="overflow: hidden; text-overflow: ellipsis; width: 148px;" data-toggle="dropdown">Chuyên mục <span class="fa fa-angle-down"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        @foreach (var item in chuyenMucChinh)
                        {

                            <li ><a href="#">@item.TenChuyenMuc</a><input type="hidden" id="hidden"  value="@item.MaChuyenMuc"/></li>

                        }
                    </ul>
                </div>
                <button type="submit"  class="btn btn-danger"><span class="fa fa-search"></span></button>
            </form>
            <div class="mini-cart">
                @Html.Partial("GioHang", model)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="mega-container visible-lg visible-md">
                <div class="navleft-container">
                    <div class="mega-menu-title">
                        <h3>Danh mục sản phẩm</h3>
                    </div>
                    <div class="mega-menu-category">
                        <ul class="nav">
                            @foreach (ChuyenMuc item in chuyenMucChinh)
                            {
                                <li>

                                    <a href="/ChuyenMuc/Index/@item.MaChuyenMuc">@item.TenChuyenMuc</a>
                                    @{
                                        var chuyemMucCon = shop.ChuyenMucs.Where(c => c.MaChuyenMucCha == item.MaChuyenMuc).ToList();
                                        List<SanPham> SanPhamMoi = new List<SanPham>();
                                        foreach (var sp in chuyemMucCon)
                                        {
                                            var list = shop.SanPhams.Where(c => c.MaChuyenMuc == sp.MaChuyenMuc).OrderByDescending(c => c.MaSanPham).ToList();
                                            if (list.Count > 0)
                                            {
                                                SanPhamMoi.Add(list[0]);
                                            }

                                        }
                                    }
                                    @if (@chuyemMucCon.Count() != 0)
                                    {

                                        <div class="wrap-popup">
                                            <div class="popup">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h3>@item.TenChuyenMuc</h3>
                                                        <ul class="nav">

                                                            @foreach (ChuyenMuc c in chuyemMucCon)
                                                            {
                                                                <li><a href="/ChuyenMuc/LaySanPham/@c.MaChuyenMuc">@c.TenChuyenMuc</a></li>
                                                            }


                                                        </ul>
                                                    </div>

                                                    <div class="col-md-6 has-sep">
                                                        <div class="custom-menu-right">
                                                            @if (SanPhamMoi.Count > 3)
                                                            {
                                                                for (int i = 0; i < 3; i++)
                                                                {
                                                                    <div class="box-banner media">
                                                                        <div class="media-body">
                                                                            <h3>@SanPhamMoi[i].TenSanPham</h3>
                                                                           
                                                                            <a href="/QuanLySanPham/ChiTietSanPham/@SanPhamMoi[i].MaSanPham">&gt;Chi tiết</a>
                                                                        </div>
                                                                        <div class="media-right">
                                                                            <img src="@SanPhamMoi[i].AnhDaiDien" alt="" style="width: 70px; height: 70px;">
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                for (int i = 0; i < SanPhamMoi.Count; i++)
                                                                {
                                                                    <div class="box-banner media">
                                                                        <div class="media-body">
                                                                            <h3>@SanPhamMoi[i].TenSanPham</h3>
                                                                            <div class="price-sale">
                                                                                40 <sup>%</sup><sub>off</sub>
                                                                            </div>
                                                                            <a href="/QuanLySanPham/ChiTietSanPham/@SanPhamMoi[i].MaSanPham">&gt;Chi tiết</a>
                                                                        </div>
                                                                        <div class="media-right" style="width: 70px; height: 70px;">
                                                                            <img src="@SanPhamMoi[i].AnhDaiDien" style="width: 70px; height: 70px;" alt=""/>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }


                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }

                                </li>
                            }
                       
                            <li class="view-more"><a href="#">Xem thêm</a></li>



                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="menu clearfix visible-lg visible-md">
                <li><a href="/Home/Index">Trang chủ</a></li>
                <li><a href="/TinTuc/Index">Tin tức</a></li>
                <li><a href="/ChuyenMuc/ChuyenMucDacBiet/1058">Hướng dẫn mua hàng</a></li>
                <li><a href="#">Liên hệ</a></li>

            </ul>
        </div>
    </div>
</div>

</div><!-- /.header-bottom -->
</div><!-- /.header -->

    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
    </div>

    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 hidden-sm hidden-xs">
                        <div class="subscribe">
                            <div class="subscribe-inner" style="position:absolute ; margin-top:11px;">
                                <h3>Đăng kí nhận bản tin</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-8">
                        <form method="post" class="form-inline form-subscribe">
                            <div class="form-group">
                                <input type="text" class="form-control" id="newsletter" name="email">
                            </div>
                            <button class="btn btn-danger" title="Subscribe" type="submit">Theo dõi</button>
                        </form>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <ul class="social">
                            <li><a href="@caiDat.FaceBook" class="face">face</a></li>
                            <li><a href="@caiDat.GooglePlus" class="google">google</a></li>
                            <li><a href="@caiDat.Twiter" class="twitter">twitter</a></li>
                            <li><a href="@caiDat.YouTube" class="youtube">youtube</a></li>
                            <li><a href="@caiDat.Instargram" class="linkedin">linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.footer-top -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    @foreach (var item in chuyenMucDacBiet)
                    {
                        if (item.MaChuyenMuc == 1037)
                        {
                            var chuyenMucCon = shop.ChuyenMucs.Where(c => c.MaChuyenMucCha == item.MaChuyenMuc && c.DacBiet == true).ToList();
                            <div class="col-sm-3">
                                <div class="footer-title">
                                    <h2>@item.TenChuyenMuc</h2>
                                </div>
                                <div class="footer-content">
                                    <div class="email add">
                                        <p>@chuyenMucCon[0].TenChuyenMuc</p>
                                    </div>
                                    <div class="phone add">
                                        <p>@chuyenMucCon[1].TenChuyenMuc</p>
                                    </div>
                                    <div class="address add">
                                        Address:
                                        <p>@chuyenMucCon[2].TenChuyenMuc</p>
                                    </div>
                                    <div class="contact-link">
                                        <a href="@caiDat.GoogleMap" class="btn btn-default">Mở trong google map</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            var chuyenMucCon = shop.ChuyenMucs.Where(c => c.MaChuyenMucCha == item.MaChuyenMuc && c.DacBiet == true).ToList();
                            <div class="col-sm-3">
                                <div class="footer-title">
                                    <h2>@item.TenChuyenMuc</h2>
                                </div>
                                <div class="footer-content">
                                    <ul>
                                        @foreach (var cm in chuyenMucCon)
                                        {
                                            <li><a href="/ChuyenMuc/ChuyenMucDacBiet/@cm.MaChuyenMuc">@cm.TenChuyenMuc</a></li>
                                        }
                                       
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                    
                   
                   
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="copy">Copyright &copy; 2015 Shop đồ thể thao. All Rights Reserved</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="payment"><img src="~/Images/payment.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.footer -->

@*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
@RenderSection("scripts", required: false)
 
</body>
</html>
<Script>
   
    $(".dropdown ul li").click(function() {
        $("#btn_choncm").text($(this).text());
       var hidden = $(this).find("#hidden").val();
        $("#machuyenmuc").val(hidden);


    })
   
</Script>