@using ShopBanDoTheThao.Models
@{
    double total = 0;
    ShoppingCartModels model = new ShoppingCartModels();
    model.Cart = (ShoppingCart)Session["Cart"];
}
@using (Html.BeginForm("DienThongTin", "GioHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="top-cart-title">
        <a href="#" class="dropdown-toggle"  data-toggle="dropdown" style="margin-top: 18px;">
            Giỏ hàng
            @*<span class="price" style="overflow: hidden">@tong</span>*@
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            @if (Model != null && Model.Cart != null)
            {

                foreach (var item in Model.Cart.ListItem)
                {
                    total += item.Total;
                    <div class="cart-listing">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="@item.Image" alt="" class="img-responsive"></a>
                            </div>
                            <div class="media-body">
                                <button type="button" class="remove-cart-item" onclick="location.href = '@Url.Action("XoaSanPham", "GioHang", new {id = item.ProductID})'">&times;</button>
                                <h4>@item.ProductName</h4>
                                <div class="mini-cart-qty">Số lượng: @item.Quanlity</div>
                                <div class="mini-cart-price">Tiền:@item.Total.ToString("#,##0") VND</div>
                            </div>
                        </div>

                    </div>
                    <!-- /.cart-listing -->
                }
            }
            
            <div class="mini-cart-subtotal">Tổng: <span class="price">@total</span></div>
            <div class="checkout-btn">
                @if (model.Cart!=null)
                {
                    <input type="submit" class="btn btn-default btn-md fwb" value="Thanh toán" />
                    <a href="/GioHang/Index" class="btn btn-default btn-md fwb">Giỏ Hàng</a>
                }
             
            </div>
        </div>

    </div>

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<Script>
    $(window).load(function() {
        $(".mega-menu-category").css('display', 'none');
    });

    function ThanhToan() {
        event.preventDefault();
        @*location.href = ' @Url.Action("ThanhToan", "GioHang")';*@
         location.href = ' @Url.Action("DienThongTin", "GioHang")';
    }
   
</Script>