@using ShopBanDoTheThao.Models

@{
    ShopEntities shop=new ShopEntities();
    var tinMoi = shop.TinTucs.OrderByDescending(t => t.MaTinTuc).Skip(0).Take(8).ToList();

}

<div class="title-group"><h2>Bài Mới</h2></div>
<div id="recent-post" class="owl-container">
    <div class="owl">
        @for (int i = 0; i < tinMoi.Count; i = i + 4)
        {
            <div class='sepecialoffer-item item'>
                @if (i < tinMoi.Count)
                {
                    <div class="item-inner first">
                        <div class="images-container">
                            <a href="/TinTuc/ChiTietTinTuc/@tinMoi[i].MaTinTuc" title="@tinMoi[i].TieuDe" class="product-image">
                                <img src="@tinMoi[i].AnhDaiDien" alt="@tinMoi[i].TieuDe" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name">
                                <a href="/TinTuc/ChiTietTinTuc/@tinMoi[i].MaTinTuc" title="@tinMoi[i].TieuDe">@tinMoi[i].TieuDe</a>
                            </h2>
                        </div>
                    </div>
                }

                @if ((i + 1) < tinMoi.Count)
                {
                    <div class="item-inner">
                        <div class="images-container">
                            <a href="/TinTuc/ChiTietTinTuc/@tinMoi[i+1].MaTinTuc" title="@tinMoi[i+1].TieuDe" class="product-image">
                                <img src="@tinMoi[i+1].AnhDaiDien" alt="@tinMoi[i+1].TieuDe " />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name">
                                <a href="/TinTuc/ChiTietTinTuc/@tinMoi[i+1].MaTinTuc" title="@tinMoi[i+1].TieuDe ">@tinMoi[i+1].TieuDe  </a>
                            </h2>
                        </div>
                    </div>
                }
               @if ((i + 2) < tinMoi.Count)
               {
                <div class="item-inner">
                    <div class="images-container">
                        <a href="/TinTuc/ChiTietTinTuc/@tinMoi[i+2].MaTinTuc" title="@tinMoi[i+2].TieuDe" class="product-image">
                            <img src="@tinMoi[i+2].AnhDaiDien" alt="@tinMoi[i+2].TieuDe " />
                        </a>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name">
                            <a href="/TinTuc/ChiTietTinTuc/@tinMoi[i+2].MaTinTuc" title="@tinMoi[i+2].TieuDe ">@tinMoi[i+2].TieuDe  </a>
                        </h2>
                    </div>
                </div>
               }
               @if ((i + 3) < tinMoi.Count)
               {
                <div class="item-inner last">
                    <div class="images-container">
                        <a href="/TinTuc/ChiTietTinTuc/@tinMoi[i+3].MaTinTuc" title="@tinMoi[i+3].TieuDe" class="product-image">
                            <img src="@tinMoi[i+3].AnhDaiDien" alt="@tinMoi[i+3].TieuDe " />
                        </a>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name">
                            <a href="/TinTuc/ChiTietTinTuc/@tinMoi[i+3].MaTinTuc" title="@tinMoi[i+3].TieuDe ">@tinMoi[i + 3].TieuDe  </a>
                        </h2>
                    </div>
                </div>
               }
               
            </div>

        }
            
      
    </div>
</div><!-- /.owl-container -->
