
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".Quanlity").change(function () {
            var quanlity = $(this).val();
            var proID = $(this).attr("id");
            $.ajax({
                url: '@Url.Action("UpdateQuantity")',
                data: { "proID": proID, "quantity": quanlity }
            });
            window.location = '/GioHang';
        });
    });
</script>

    @if (Model != null && Model.Cart != null)
    {
        <table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
            @{
                double total = 0;
            }
            @foreach (var item in Model.Cart.ListItem)
            {
                total += item.Total;
                <tr>
                    <td>@item.ProductName (@Html.ActionLink("Xóa", "XoaSanPham", new { id = item.ProductID }))</td>
                    <td>@item.Price VND/ 1SP</td>
                    <td>
                        @InputExtensions.TextBox(Html, "product" + item.ProductID.ToString(), item.Quanlity, new { @class = "Quanlity" ,type="number"})

                    </td>
                    <td>@item.Total.ToString("#,##0") VND</td>
                </tr>
            }
            <tr>
                <td colspan="3"><b>Tổng tiền</b></td>
                <td><b>@total.ToString("#,##0") VND</b></td>
            </tr>
        </table>
        <div class="span6" style="text-align: right">
            @using (Html.BeginForm("ThanhToan", "GioHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="submit" class="btn btn-default btn-md fwb" value="Thanh toán" />
            }
            
        </div>
                }
                else
                {
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                        <tr>
                            <td colspan="4"> Hiện chưa có sản phẩm nào trong giỏ hàng</td>
                        </tr>
                    </table>
                }
                <hr />
                